*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(0, 0, 0, 0.63);
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.387);
}

.container{
    margin-left: 50px;
    margin-right: 50px;
}

nav{
    padding:10px;

    font-size: larger;
    margin-bottom:  20px;
    color: white;
    background:black;
    display:flex;
    flex-direction:row;
    justify-content: left;
    justify-items: center;
}
nav a{
    color: white;
    padding:10px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
}


td,
th {
    border: 1px solid #ffffff27;
    padding: 8px;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

tr{
    background:#1a1a1a;
    color: white;
    border:none;

}

tr:nth-child(even) {
    background-color: #34393d;
    border:none;

}

td:nth-last-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fa-edit{
    color: rgba(106, 99, 244, 0.623);
}

.fa-edit:hover{
    cursor: pointer;
    color: rgba(106, 99, 244, 0.926);

    
}

.fa-remove{
    color: rgba(255, 0, 0, 0.623);
}

.fa-remove:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);

    
}




.new-product a{
    color: white;
}

.new-product a:hover{
    width:-webkit-fill-available;
    background:rgba(255, 255, 255, 0.254);
    color: black !important; 
}


