*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.edit_box {
    margin: auto;
    width : 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius:10px;
    background:steelblue;

}

input {
    /* width: 80%; */
    margin: 8px;
    margin-inline: 80px;
    padding: 15px;
    border-radius: 10px;
    border-color: rgba(10, 10, 10, 0.334);
}


  .btn{
    border-radius: 10px;
    margin: 8px;
    margin-inline: 80px;
    padding:20px;
    border: 1px solid black;
    background:rgba(0, 0, 0, 0.308);

}

input:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(22, 23, 23);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    color: white;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 51%);
  }

  .deleteModal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 51%);
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .close-delete,.close-edit {
    color: #aaaaaa;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-edit:hover, .close-delete:hover,
  .close-edit:focus,.close-delete:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

