*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.edit_box{
    margin: auto;
    height: 500px;
    width : 500px;
    text-align: center;
    display: flex;
    flex-direction: column;

}
form{
    margin-top: auto;
}

 input{
     width: 80%;
     margin : 10px;
    padding: 12px;
    border-radius: 10px;
    border-color: rgba(10, 10, 10, 0.334);
}
  .submit-btn{
    border-radius: 10px;
    padding:17px;

}

input:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.submit-btn:hover{
    cursor: pointer;
    background-color: rgb(22, 23, 23);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    color: white;
}